.decoracao{
    display: inline-block;
    position: absolute;
    background: red;
    padding: 2px;
    top: 430px;
    width: 60px;
    height: 2px;
    z-index: 1;
    align-self: center;
}

.logo{
    text-align: center;
    padding: 30px;
}
.navbar{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;;
    padding: 15px 30px;

}

.direitos{
    padding: 10px;
    background: white;
    text-align: center;
    position: relative;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 100px;


}

.vermais{
    color: white;
    background: #ee2211;
    place-self: start end;
    border-radius: 4px;
}
.info{
    display: grid;
    padding: 40px;
    text-align: right;
    background: white;
    
}

.info2{
    background: white;
    padding: 40px;


}

.vantagens-itens{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 40px;
    
}

.vantagens-itens p{
    grid-column: 2;
    font-size: 20px;
    margin: 0px;
}

.subtitulo{
    display: grid;   
    font-size: 64px;
    color: #c6c6c6;
    margin: 0px;
    padding: 40px;
    align-self: center;
    text-align: right;
}

.texto{
    font-size: 30px;
}

.rodape{
    background: white;
    width: 100%;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;

}

body{
    display: grid;
    justify-items: center;
    font-family: Arial;
    background: #f7f7f7;
    margin-top: 60px;



}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
    background: white;
    padding: 20px;
    color: black
}

span{ 
   font-weight: bold; 
}

h1{
    font-size: 50px;
}
