.decoracao{
    position: absolute;
    background: red;
    padding: 2px;
    top: 30px;
    width: 60px;
    height: 2px;
    right: -30px;
}


.direitos{
    padding: 10px;
    background: white;
    text-align: center;
    position: relative;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.vermais{
    color: white;
    background: #ee2211;
    place-self: start end;
    border-radius: 4px;
    padding: 15px;
}
.info1{
    display: grid;
    padding: 40px;
    text-align: right;
    background: white;
    position: relative;
}

.info2{
    background: white;
    padding: 40px; 
}

.vantagens-itens{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 10px;
    padding: 20px;
}

.vantagens-itens p{
    grid-column: 2;
}

.subtitulo{
    display: grid;   
    font-size: 64px;
    color: #c6c6c6;
    margin: 0px;
    padding: 40px;
    align-self: center;
    text-align: right; 
}

footer{
    background: white;
    width: 100%;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
}

body{
    gap: 60px;
    margin: 0px;
    display: grid;
    justify-items: center;
    font-family: Arial;
    background: #f7f7f7;
    margin-top: 60px;
}
img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    background: white;
    padding: 20px;
    color: black
}

span{ 
    font-weight: bold; 
}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
    padding: 15px 30px;
    text-transform: uppercase;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

