html{
    font-size: 62.5%;
}

body{
    gap: 6rem;
    margin: 0rem;
    display: grid;
    justify-items: center;
    font-family: Arial;
    background: #f7f7f7;
    margin-top: 6rem;
}

nav{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100rem;
}


footer{
    background: white;
    width: 100%;
    padding: 4rem;
    text-align: center;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

a{
    font-size: 1.5rem;
    text-decoration: none;
    background: white;
    padding: 2rem;
    color: black;
    border-radius: 0.4rem;
}

nav a:hover{
    border: #ee2211 solid 0.2rem;
    margin: -0.2rem;
}

span{ 
    font-weight: bold; 
}

p,
h1,
h2,
h3 {
  margin: 0rem;
}

p {
    font-size: 2rem;
  line-height: 1.3;
}

h1{
    font-size: 3.2rem;
}

h3{
    font-size: 2rem;
}


.decoracao{
    position: absolute;
    background: red;
    padding: 0.2rem;
    top: 3rem;
    width: 6rem;
    height: 0.2rem;
    right: -3rem;
}


.direitos{
    padding: 1rem;
    background: white;
    text-align: center;
    position: relative;
}


.vermais{
    color: white;
    background: #ee2211;
    place-self: start end;
    border-radius: 0.4rem;
    padding: 1.5rem;
}

.info1 a:hover{
    background: #900;
}

.info1{
    display: grid;
    padding: 4rem;
    text-align: right;
    background: white;
    position: relative;
}

.info2{
    background: white;
    padding: 4rem; 
}

.vantagens-itens{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem 1rem;
    padding: 2rem;
}

.vantagens-itens:hover{
    border-left: 0.5rem solid #ee2211;
}

.vantagens-itens p{
    grid-column: 2;
}

.subtitulo{
    display: grid;   
    font-size: 6.4rem;
    color: rgba(0, 0, 0, 0.2);
    margin: 0rem;
    padding: 4rem;
    align-self: center;
    text-align: right; 
    background-image: url(/img/onda.svg);
}

.lista-vantagens{
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

.lista-vantagens li:nth-child(odd){
    background: #f7f7f7;
}