html{
    font-size: 62.5%;
}

body{
    gap: 6rem;
    margin: 0rem;
    display: grid;
    justify-items: center;
    font-family: Arial;
    background: #f7f7f7;
    margin-top: 6rem;
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
}

main{
    display: grid;
    max-width: 100rem;
    grid-template-columns: 1fr 1fr;
}


footer{
    background: white;
    width: 100%;
    padding: 4rem;
    text-align: center;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    font-size: 1.5rem;
    text-decoration: none;
    background: white;
    padding: 2rem;
    color: black;
    border-radius: 0.4rem;
}

nav a:hover{
    border: #ee2211 solid 0.2rem;
    margin: -0.2rem;
}

span{ 
    font-weight: bold; 
}


p,
h1,
h2,
h3 {
  margin: 0rem;
}


p {
    font-size: 2rem;
  line-height: 1.3;
}

h1{
    font-size: 3.2rem;
}

h3{
    font-size: 2rem;
}


.decoracao{
    position: absolute;
    background: red;
    padding: 0.1rem;
    top: 3rem;
    width: 6rem;
    height: 0.2rem;
    right: -3rem;
}


.direitos{
    padding: 1rem;
    background: white;
    text-align: center;
    position: relative;
}


.vermais{
    color: white;
    background: #ee2211;
    place-self: start end;
    border-radius: 0.4rem;
    padding: 1.5rem 2.5rem;
    transition: .3s;
}

.info1 a:hover{
    background: #900;
}

.info1{
    display: grid;
    padding: 4rem;
    text-align: right;
    background: white;
    position: relative;
    gap: 2rem;
}

.info2{
    background: white;
    padding: 4rem; 
}

.vantagens-itens{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem 1rem;
    padding: 2rem;
    transition: .3s;
}

.vantagens-itens:hover{
    border-left: 0.8rem solid #ee2211;
}

.vantagens-itens p{
    grid-column: 2;
}

.subtitulo{
    display: grid;   
    font-size: 6.4rem;
    color: rgba(0, 0, 0, 0.2);
    margin: 0rem;
    padding: 4rem;
    align-self: center;
    text-align: right; 
    background-image: url(/img/onda.svg);
}

.lista-vantagens{
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}

.lista-vantagens li:nth-child(odd){
    background: #f7f7f7;
}

.ImgDaBike{
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width:900px){

    .info1{
        text-align: left;
    }

    .vermais{
    place-self: start;
    }

   .subtitulo,
   .info2{
    grid-column: 1 / -1;
   }

   .subtitulo{
    margin: 3rem 0 3rem 0;
    place-self: center;
    text-align: center;
    font-size: 4.8rem;
   }

   p{
    font-size: 1.8rem;
   }
}


@media (max-width: 600px) {

    body{
        gap: 2rem;
        justify-items: center;
        overflow-wrap: break-word;
        margin-top: 3rem;
    }

    main{
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }

    .ImgDaBike{
        max-width: 90%;
        border-radius: 5px;
        place-self: center;
        margin: 1rem;
    }

    .info1{
        gap: 2rem;
        text-align: left;
    }
    
    .vermais{
    margin-top: 0rem;
    place-self: start;
    }

    .subtitulo{
        place-self: center;
        text-align: center;
        font-size: 4.8rem;
    }
    
    .decoracao{
        background: rgba(0, 0, 0, 0)
    }

    p{
        font-size: 1.8rem;
        max-width: 500px;
    }

    h2{
        padding: 1.5rem;

    }
}